name: Publish Snapshot
on:
  push:
    branches:
      - master
      - '[0-9].x'
  workflow_dispatch:

jobs:
  snapshot:
    name: Deploy Snapshot
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up publishing to maven central
        uses: actions/setup-java@v5
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
          server-id: central
          server-username: CENTRAL_USERNAME
          server-password: CENTRAL_TOKEN
          # gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          # gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private ke

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            /var/cache/apt
          key: jfalkordb-${{hashFiles('**/pom.xml')}}

      - name: mvn offline
        run: |
          mvn -q dependency:go-offline
          
      - name: deploy
        run: |
          mvn -DskipTests -Dgpg.skip=true deploy
        env:
          CENTRAL_USERNAME: ${{ secrets.CENTRAL_USERNAME }}
          CENTRAL_TOKEN: ${{ secrets.CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.OSSH_GPG_SECRET_KEY_PASSWORD }}

          # MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

